.pf-v5-c-login__container {
    grid-template-columns: 34rem;
    grid-template-areas: "header" "main"
}


.login-pf body {
    background: DimGrey none;
    background-image: url('../img/image.webp');
    background-size: cover;
}


div.kc-logo-text {
    background-image: url('../img/Untitled.webp');
    width: 180px;
    height: 180px;
    background-size: 100% 100%;
}
